body {
  background: #E1F0F8;
}

.main {
  margin: 50px auto;
  padding: 10px;
  box-shadow: 0 0 22px #000;
  width: 1000px;
  height: 500px;
  background: #4E5979;
  border-radius: 20px;
}

#carousel {
  width: 1000px;
  height: 500px;
  overflow: hidden;
}

#carousel ul {
  list-style-type: none;
  width: 7000px;
  height: 500px;
}

#carousel ul li {
  display: inline-block;
  float: left;
  width: 1000px;
  height: 500px;
}

#carousel ul li img {
  width: 920px;
  height: 460px;
}